* {
	list-style: none;
	text-transform: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-weight: 400;
	margin-bottom: 10px;
}

body {
	background: rgb(238, 238, 238);
}

.wrapper {
	margin: 10px auto;
	width: 75%;
	background: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

/*general properties*/
h1, .translation a {
	/*color: rgb(41, 108, 213);*/
	color: #000;
}

.translation, .headerBox, nav ul, .socialMediaBox, 
nav ul li, .logoBox a, nav {
	display: flex;
}
.logo, h1 {
	display: inline-block;
}

.showMenu, .socialMediaBox a {
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}





/*header area*/
header {
	margin: 20px auto;
}
.headerBox {
	margin: 0 0 30px;
}

.translation {
	flex-direction: row-reverse;
	margin: 15px;
	font-size: 25px;
}

.translation span {
	cursor: pointer;
}

.chinese, .translation .english {
	display: none;
}

.translation .chinese {
	display: block;
}

.logoBox a {
	align-items: center;
}

.logoBox a:hover {
	background: #f2f1f1f1;
	border-radius: 5px;
	/*box-shadow: 0 0 20px rgba(0, 0, 0, .3);*/
}

.logo img {
	max-width: 150px;
}
/*.logo {
	border: 1px dotted black;
	padding: 15px;
}*/

.headerBox {
	justify-content: space-between;
}

nav {
	position: relative;
	align-items: center;
}

.showMenu {
	display: block;
	right: 0;
}

.hideMenu {
	display: none;
}

.sideBarBox {
	position: absolute;
	right: 0;
	top: -25px;
/*	display: none;*/
	z-index: 20;
	cursor: pointer;
}

.bar {
	color: #000;
	font-size: 30px;
	padding: 0 10px;
}

nav ul li {
	/*padding: 8px 0;*/
	/*padding: 13px;*/
	/*background: #364c79;*/
	background: #e8e8e8;
}

nav ul li:last-child {
	background: none;
}

nav ul li:hover {
	background: #b16f8a;
	text-decoration: underline;
	color: #fff;
}

nav ul li a:hover, nav ul li p:hover {
	color: #fff;
}

nav ul li p {
	cursor: pointer;
}

nav ul li a, nav ul li p {
	/*color: #fff;*/
	color: #000;
	padding: 10px;
	align-self: center;
	font-weight: 700;
	/*padding: 15px;*/
}



/*announcement bar*/
.announcementBar {
	margin: 0 55px;
}

.announcementBar h2 {
	color: #000;
	text-align: center;
	padding: 8px;
	background: #e8e8e8;
	/*background: rgb(131,58,180);
	background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);*/
}


/*img slider area*/
.flickity-viewport {
	/*height: 68vh !important; */
}

.imgSlider {
	margin: 8px auto;
}

.imgSlider img {
	max-height: 700px;
/*	max-width: 100%;
	max-height: 100%;
	height: auto;*/
}

.main-carousel {
	padding: 0 55px;
}

.carousel-cell {
	width: 100%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*main video area*/
.videoBox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	padding: 80px;
}

.videoBox div {
	display: flex;
	justify-content: center;
/*	max-height: 80%;*/
}

iframe {
	width: 100%;
	/*max-width: 600px;*/
}


/*footer area*/
footer {
	/*background: #46629b;*/
	background: #8b8b8b;
}

.socialMediaBox {
	justify-content: center;
	align-items: center;
}

.socialMediaBox a {
	display: flex;
	max-width: 35px;
	margin: 15px;
	/*padding: 3px;*/
	box-sizing: border-box;
	border-radius: 15px;
}

.socialMediaBox img {
	width: 100%;
	height: 100%;
}

.socialMediaBox a:hover {
	/*color: #b16f8a;*/
	/*background: #f8f8f8f8;*/
	box-shadow: 0 0 20px rgba(0, 0, 0, .3);
	/*border: 1px solid white;*/
/*	background: #fff;
	overflow: hidden;*/
}

.fa-youtube, .fa-facebook-square, .fa-instagram-square {
	font-size: 40px;
	color: #fff;
	padding: 3px;
}



/*contact us*/
.contactUs {
	display: none;
	position: fixed;
	z-index: 1000;
	box-shadow: 0 0 20px rgba(0, 0, 0, .3);
	background: #f2f1f1;
	left: 0;
	right: 0;
	top: 35%;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	border-radius: 5px;
}

.showContactUs {
	display: block;
}
.contactUs .contactHeader {
	/*display: inline-block;*/
}

.contactHeader h3 {
	text-align: center;
	padding: 15px;
}

.closeBox:hover {
	color: #b16f8a;
}

.contactHeader .closeBox {
	position: absolute;
	top: 0;
	right: 0;
	padding: 7px 8px;
	cursor: pointer;
}

.contactHeader .closeBox i,
.contactHeader h3 {
	font-size: 20px;
}

.contactUs form {
	display: grid;
	/*grid-gap: 10px;*/
	grid-template-columns: 1fr 1fr;
	padding: 10px;
	margin: 25px;
	box-sizing: border-box;
}

.contactUs form input, 
.contactUs form textarea, 
.contactUs form button {
	font-size: 18px;
	margin: 1px;
}

.contactUs form input {
	padding: 10px;
	margin-bottom: 14px;
}

.contactUs form textarea {
	resize: none;
	padding: 15px 10px;
	margin-bottom: 20px;
}

.contactUs form label[for="name"] {
	grid-column-start: 1;
}

.contactUs form label[for="email"] {
	grid-column-start: 2;
	grid-row-start: 1;
}

.contactUs form input[name="name"] {
	grid-column-start: 1;
	grid-row-start: 2;
	margin-right: 12px;
}

.contactUs form input[name="email"] {
	grid-column-start: 2;
	grid-row-start: 2;
}

.contactUs form textarea, .contactUs form button[type='submit'] {
	grid-column-start: 1;
	grid-column-end: 3;
}

.contactUs form button[type='submit'] {
	padding: 8px;
	cursor: pointer;
}




@media screen and (max-width: 1800px) {
 .wrapper {
 	width: 85%;
 }

/* nav ul li a {
 	padding: 10px;
 }*/
}

@media screen and (max-width: 1600px) {
	.wrapper {
		width: 95%;
	}
}

@media screen and (max-width: 1240px) {
	nav ul li a, nav ul li p {
		padding: 0 10px;
	}
}

@media screen and (max-width: 1200px) {
	header {
		background: #fff;
		/*position: fixed;*/
		top: 0;
		z-index: 1000;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin: 0;
		/*width: 93%;*/
		/*box-shadow: 0 0 20px rgba(0, 0, 0, .3);*/
	}

	.translation {
		grid-column-start: 2;
		margin: 0;
		justify-content: center;
	}

	.headerBox {
		grid-column-start: 1;
		grid-column-end: 4;
		margin: 0 0 10px;
	}

	.logoBox {
		font-size: 25px;
	}

	nav ul {
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
		transition: all .5s ease-in-out;
		-webkit-transition: all .5s ease-in-out;
	}

	nav ul li {
		display: none;

		/*right: -200px;*/
	}

	nav ul li:not(:last-child) {
		width: 225px;
		/*padding: 0;*/
		padding: 15px;
	}

	nav ul li.sideBarBox {
		display: block;
	}

	nav ul li a, nav ul li p {
		display: flex;
		font-size: 25px;
	}
}

@media screen and (max-width: 1000px) {
	.videoBox {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 700px) {
	.videoBox {
		padding: 15px;
	}

	.translation, .logoBox {
		font-size: 30px;
	}

	nav ul li a, nav ul li p {
		font-size: 25px;
	}

	.sideBarBox {
		top: -39px;
	}
}

@media screen and (max-width: 420px) {
	.headerBox {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.logoBox {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	nav {
		grid-column-start: 3;
		grid-row-start: 2;
	}

	.sideBarBox {
		/*top: -25px;*/
	}
}